@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div style="color:white" class="mx-auto">

    <h1 style="text-align:center">Doctor who?</h1>

    <div class="mx-auto" style="width:100%">

        <div class="mx-auto col" style="width:100%">
            <img src="~/img/3.gif" class="mx-auto" style="align-content: center; padding:3rem;max-width:" />
        </div>

        <div  class="mx-auto" style="max-width:800px">
            <p style="text-align:center; font-size:1rem; padding:4rem;">
                “I have lived a long life, and I have seen a few things. I walked away from the Last Great Time War. I marked the passing of the Time Lords. I saw the birth of the universe and I watched as time ran out, moment by moment, until nothing remained; no time, no space. Just me. I walked in universes where the laws of physics were devised by the mind of a madman. I watched universes freeze and creations burn. I have seen things you wouldn’t believe, I have lost things you will never understand. And I know things, secrets that must never be told, knowledge that must never be spoken. Knowledge that will make parasite gods blaze! So come on then! Take it! Take it all, baby! Have it! You have it all!”
            </p>
            <p style="text-align:right">
                -The Doctor
            </p>

        </div>

    </div>
    <div style="width:100%">
        <img src="~/img/4.gif" class="mx-auto" style="        text-align: center;
        padding: 3rem;
        margin: 3rem;
" />
    </div>

</div>