@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:white">
    <h1 class="display-4">Welcome</h1>
    <p>Rory's Web app with ASP.NET Core</a>.</p>
</div>

<div style="display:flex">
    <div class ="col text-center">
        <img src="~/img/1.jpg"/>
    </div>
    <div class="col text-center" style="color:white">
        <p>“I travelled across the world. From the ruins of New York, 
        to the fusion mills of China, right across the radiation pits of
        Europe. And everywhere I went I saw people just like you, living as 
        slaves! But if Martha Jones became a legend then that’s wrong, because
        my name isn’t important. There’s someone else. The man who sent me out
        there, the man who told me to walk the Earth. And his name is The Doctor. 
        He has saved your lives so many times and you never even knew he was there. 
        He never stops. He never stays. He never asks to be thanked. But I’ve seen him, I know him… I love him… 
        And I know what he can do.”</p>
    </div>
</div>
